/* Breadcrumbs
   Some LESS variables that you can configure from your derived theme.
***************************************************************/
/* Variables
***************************************************************/
/* Colors */
/* General */
/*@menu-height: 4rem;*/
/* Media queries */
/* Navigation vars */
/* General
***************************************************************/
/* Layout */
body {
  background-color: #EEEEEE;
}
#layout-wrapper {
  max-width: 1200px;
}
/* Header */
.zone-header {
  margin: 0;
  padding: 0;
}
.zone-header #branding {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 290px;
}
.zone-header #branding a {
  width: 620px;
  height: 300px;
  margin: auto;
  background-image: url(../Images/spring-harvest-challenge-header.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: block;
  outline: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.zone-header #branding a:hover,
.zone-header #branding a:active,
.zone-header #branding a:focus {
  text-decoration: none;
}
/* Links */
a {
  border: none;
  color: #22bb22;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
  color: #11aa11;
}
/* Blog */
.blog-post p img {
  margin: 1em auto;
}
/* Footer */
.credits {
  font-size: 0.9em;
  margin-top: 1em;
  text-align: center;
}
.user-display {
  display: none;
}
