@import "../../Lombiq.PrettyGoodBootstrapBaseTheme/Styles/variables";


/* Variables
***************************************************************/

/* Colors */
@spring-green: #33cc33;
@spring-brown: #70583d;
@spring-white: #fff;

/* General */
/*@menu-height: 4rem;*/

/* Media queries */
@screen-sm-min: 47.95em; // ~768px
@screen-md-min: 57.8em; // ~940px in Chrome, more in FF...
@screen-lg-min: 68.6em; // ~1100px
@screen-xl-min: 87.4em; // ~1400px
@screen-xxl-min: 99.9em; // ~1600px
// The tilde is needed so the quotes won't be printed
@media-sm: ~"only screen and (min-width: @{screen-sm-min})";
@media-md: ~"only screen and (min-width: @{screen-md-min})"; 
@media-lg: ~"only screen and (min-width: @{screen-lg-min})";
@media-xl: ~"only screen and (min-width: @{screen-xl-min})"; 
@media-xxl: ~"only screen and (min-width: @{screen-xxl-min})";

/* Navigation vars */
@menu-bg-active: @spring-green;
@menu-bg-hover: @spring-green;
@menu-bg: @spring-brown;
@menu-color: @spring-white;
@menu-color-active: @spring-white;
@menu-color-hover: @spring-green;